<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" />
    <style>
        .my-spacing {
            margin-bottom: 10px;
        }

        .vertical-center {
            min-height: 95%; /* Fallback for browsers do NOT support vh unit */
            min-height: 95vh; /* These two lines are counted as one :-)       */

            align-items: center;
        }
    </style>
</head>
<body>
        @RenderBody()
</body>
</html>
