@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutForAllPages";
    ViewData["Title"] = "Page Not Found";
}
<style>
    body {
        background: rgb(20,66,214);
        background: linear-gradient(151deg, rgba(20,66,214,1) 0%, rgba(250,247,247,0.9752275910364145) 58%, rgba(128,208,199,1) 100%);
    }
    section {
        min-height: 60%; /* Fallback for browsers do NOT support vh unit */
        min-height: 60vh;
    }
</style>

<section class="section-padding m-5" style=" " id="section_1">
    <div class="container">
        <div class="row">
            <h1 class="text-info">Page Not Found.</h1>
            <h2 class="text-info">Page you're looking for is not found.</h2>
        </div>
    </div>
</section>


