@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutForAllPages";
    ViewData["Title"] = "Unauthorized";
}
<style>
    body {
        background: rgb(250,250,250);
        background: linear-gradient(148deg, rgba(250,250,250,1) 0%, rgba(128,208,199,1) 100%);
    }

    section {
        min-height: 60%; /* Fallback for browsers do NOT support vh unit */
        min-height: 60vh;
    }
</style>

<section class="section-padding m-5" style=" " id="section_1">
    <div class="container">
        <div class="row">
            <h1 class="text-info">Unauthorized.</h1>
            <h2 class="text-info">You have not enough clearence for this page.</h2>
        </div>
    </div>
</section>
