
@{ 
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Delete User";
}
@using Project.Data.Enum
@model UserToShowDto
    <style>
        .min-height {
            min-height: 60%;
            min-height: 60vh;
        }
    </style>
<h3>Are you sure you want to  delete this user?</h3>

<div class="row mt-4 min-height">
    <form class="custom-form" method="post" asp-action="DeleteUser" asp-route-id="@Model.ID">
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" placeholder="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Role">Role</label>
            <input type="text" asp-for="Role" class="form-control" placeholder="Role">
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="form-group">
                <button type="submit" class="btn btn-danger float-right mt-3 bg-danger">Delete</button>
        </div>
    </form>
    
</div>
