@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout="_EmptyLayout";
    ViewData["Title"] = "Login Page";
}
<style>
        .my-spacing {
            margin-bottom: 10px;
        }
    </style>
<div class="container mx-6 col-sm-6 d-flex justify-content-center " data-new-gr-c-s-check-loaded="14.1129.0" data-gr-ext-installed=""> 
    <div class="row">
          <form asp-action="Login" asp-controller="Auth" method="POST" class="form-signin">
              <img src="~/Content/img/Agilearn.png" alt="Image" class="img-fluid my-spacing">
            <h1 class="h3 mb-3 font-weight-normal">Sign In To Your Account</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control my-spacing" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control my-spacing" placeholder="Password" required="">
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
 </div>
