@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-action="AddCourse">Add Course</a>
<a asp-action="DeleteCourse">Delete Course</a>
<a asp-action="CreateAssignment">Create Assignment</a>
<a asp-action="DeleteAssignment">Delete Assignment</a>